# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
bin/
lib/

# Distribution / packaging
dist/
build/
*.egg-info/

# Environment variables
.env